In [1]:
import numpy as np
import pandas as pd

In [2]:
file_id = '1K-qffEKS6xNxtK-tM2jjFN9eHVj3H3ho'
url = f'https://drive.google.com/uc?id={file_id}'

In [3]:
data = pd.read_csv(url)
data.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [4]:
data = data.drop('Poster_Link', axis=1)

In [5]:
data.shape

(1000, 15)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   object
 7   Meta_score     843 non-null    float64
 8   Director       1000 non-null   object
 9   Star1          1000 non-null   object
 10  Star2          1000 non-null   object
 11  Star3          1000 non-null   object
 12  Star4          1000 non-null   object
 13  No_of_Votes    1000 non-null   int64
 14  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 117.3+ KB

In [7]:
data['Released_Year'] = pd.to_numeric(data['Released_Year'], errors='coerce')

In [8]:
data['Runtime'] = data['Runtime'].str.strip('min')

In [9]:
data.head()

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994.0,A,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972.0,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,The Dark Knight,2008.0,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,The Godfather: Part II,1974.0,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,12 Angry Men,1957.0,U,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [10]:
data['Runtime'] = data['Runtime'].astype('float')

In [11]:
data['Gross'] = data['Gross'].str.replace(',', '').astype(float)

In [12]:
data.describe()

,Released_Year,Runtime,IMDB_Rating,Meta_score,No_of_Votes,Gross
count,999.000000,1000.000000,1000.000000,843.000000,1.000000e+03,8.310000e+02
mean,1991.217217,122.891000,7.949300,77.971530,2.736929e+05,6.803475e+07
std,23.297025,28.093671,0.275491,12.376099,3.273727e+05,1.097500e+08
min,1920.000000,45.000000,7.600000,28.000000,2.508800e+04,1.305000e+03
25%,1976.000000,103.000000,7.700000,70.000000,5.552625e+04,3.253559e+06
50%,1999.000000,119.000000,7.900000,79.000000,1.385485e+05,2.353089e+07
75%,2009.000000,137.000000,8.100000,87.000000,3.741612e+05,8.075089e+07
max,2020.000000,321.000000,9.300000,100.000000,2.343110e+06,9.366622e+08

In [13]:
data.describe(include='object')

,Series_Title,Certificate,Genre,Overview,Director,Star1,Star2,Star3,Star4
count,1000,899,1000,1000,1000,1000,1000,1000,1000
unique,999,16,202,1000,548,660,841,891,939
top,Drishyam,U,Drama,A man in London tries to help a counter-espion...,Alfred Hitchcock,Tom Hanks,Emma Watson,Rupert Grint,Michael Caine
freq,2,234,85,1,14,12,7,5,4

In [14]:
data['Certificate'].unique()

array(['A', 'UA', 'U', 'PG-13', 'R', nan, 'PG', 'G', 'Passed', 'TV-14',
       '16', 'TV-MA', 'Unrated', 'GP', 'Approved', 'TV-PG', 'U/A'],
      dtype=object)

In [15]:
data.isnull().sum()

Series_Title       0
Released_Year      1
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [16]:
data.isnull().mean()*100

Series_Title      0.0
Released_Year     0.1
Certificate      10.1
Runtime           0.0
Genre             0.0
IMDB_Rating       0.0
Overview          0.0
Meta_score       15.7
Director          0.0
Star1             0.0
Star2             0.0
Star3             0.0
Star4             0.0
No_of_Votes       0.0
Gross            16.9
dtype: float64

In [17]:
data['Certificate'] = data['Certificate'].fillna('No Certificate')

In [18]:
data['Meta_score'] = data['Meta_score'].fillna(data['Meta_score'].median())

In [19]:
data.dropna(subset= ['Gross', 'Released_Year'], inplace=True)

In [20]:
data.isnull().sum()

Series_Title     0
Released_Year    0
Certificate      0
Runtime          0
Genre            0
IMDB_Rating      0
Overview         0
Meta_score       0
Director         0
Star1            0
Star2            0
Star3            0
Star4            0
No_of_Votes      0
Gross            0
dtype: int64

**Top 20 Directors by gross**

In [21]:
pd.options.display.float_format = '{:,.0f}'.format
director_gross = data.groupby('Director')['Gross'].mean().sort_values(ascending=False).head(20)
director_gross

Director
Anthony Russo      551,259,851
Gareth Edwards     532,177,324
J.J. Abrams        474,390,302
Josh Cooley        434,038,008
Roger Allers       422,783,777
Tim Miller         363,070,709
James Gunn         361,494,850
James Cameron      349,647,320
Byron Howard       341,268,248
David Yates        326,317,907
David Leitch       324,591,735
Joss Whedon        324,397,032
George Lucas       322,740,140
Peter Jackson      319,462,489
Jon Favreau        318,412,101
Pete Docter        313,127,377
Lee Unkrich        312,365,448
Richard Marquand   309,125,409
Todd Phillips      306,386,907
Gore Verbinski     305,413,918
Name: Gross, dtype: float64

**Top 20 Star 1 by Gross**

In [22]:
actor_gross = data.groupby('Star1')['Gross'].mean().sort_values(ascending=False).head(20)
actor_gross

Star1
Daisy Ridley        936,662,225
Sam Worthington     760,507,625
Joe Russo           551,259,851
Felicity Jones      532,177,324
Henry Thomas        435,110,554
Craig T. Nelson     435,011,418
Rob Minkoff         422,783,777
Robert Downey Jr.   383,573,442
Lee Unkrich         380,843,261
Chris Pratt         361,494,850
Ronnie Del Carmen   356,461,711
Elijah Wood         345,314,007
Ryan Reynolds       343,831,222
Rich Moore          341,268,248
Chris Hemsworth     315,058,289
Mark Hamill         307,446,872
Daniel Radcliffe    305,983,506
Martin Freeman      303,003,568
Bob Peterson        293,004,164
David Silverman     289,916,256
Name: Gross, dtype: float64

**Top 3 years with the most movies (most active year)**

In [23]:
data['Released_Year'].value_counts(sort=True).head(3)

Released_Year
2,014    31
2,004    29
2,013    27
Name: count, dtype: int64

**Average Runtime for drama movies**

In [24]:
drama_movies = data[data['Genre'].str.contains('Drama')]

average_runtime = drama_movies['Runtime'].mean()
average_runtime

np.float64(128.53020134228188)

**Top Actor by Total Gross**

In [25]:
actors = pd.concat([
    data[['Star1', 'Gross']].rename(columns={'Star1': 'actor'}),
    data[['Star2', 'Gross']].rename(columns={'Star2': 'actor'}),
    data[['Star3', 'Gross']].rename(columns={'Star3': 'actor'}),
    data[['Star4', 'Gross']].rename(columns={'Star4': 'actor'}),
])

top_actor_gross = actors.groupby('actor')['Gross'].sum().sort_values(ascending=False).head(1)
top_actor_gross

actor
Robert Downey Jr.   3,129,073,242
Name: Gross, dtype: float64

In [26]:
yearly_gross = data.groupby('Released_Year')['Gross'].sum().sort_values(ascending=False).head(3)
print("Top 3 years with the highest gross:")
print(yearly_gross)
print("\n")

Top 3 years with the highest gross:
Released_Year
2,009   2,937,170,585
2,014   2,755,629,221
2,018   2,607,757,362
Name: Gross, dtype: float64

In [29]:
genre_counts = data['Genre'].value_counts()
most_common_genre = genre_counts.idxmax()
print(f"Most Common Movie Genre: {most_common_genre} (appears {genre_counts.max()} times)")
print("\n")

Most Common Movie Genre: Drama (appears 75 times)

In [28]:
top_directors = data['Director'].value_counts().head(5)
print("Top 5 Directors by Number of Movies:")
print(top_directors)

Top 5 Directors by Number of Movies:
Director
Steven Spielberg     13
Martin Scorsese      10
Alfred Hitchcock      9
Christopher Nolan     8
Woody Allen           8
Name: count, dtype: int64