# Day 8/ Test :

In [1]:
import numpy as np
import pandas as pd
file = r'C:\Users\ZBook\Desktop\juypter\personality_datasert.csv'

In [2]:
data = pd.read_csv(file)
data.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2900 non-null   float64
 1   Stage_fear                 2900 non-null   object
 2   Social_event_attendance    2900 non-null   float64
 3   Going_outside              2900 non-null   float64
 4   Drained_after_socializing  2900 non-null   object
 5   Friends_circle_size        2900 non-null   float64
 6   Post_frequency             2900 non-null   float64
 7   Personality                2900 non-null   object
dtypes: float64(5), object(3)
memory usage: 181.4+ KB

In [4]:
data.duplicated().sum()

np.int64(402)

In [5]:
data.duplicated(subset=['Time_spent_Alone']).sum()

np.int64(2887)

In [6]:

# Clean numeric columns by rounding to reasonable decimals
numeric_cols = ['Time_spent_Alone', 'Social_event_attendance', 'Going_outside', 
               'Friends_circle_size', 'Post_frequency']
data[numeric_cols] = data[numeric_cols].round(1)

# Clean categorical columns
data['Stage_fear'] = data['Stage_fear'].replace({'yes':'Yes', 'no':'No'}).str.capitalize()
data['Drained_after_socializing'] = data['Drained_after_socializing'].replace({'yes':'Yes', 'no':'No'}).str.capitalize()

# Handle extreme values (assuming scales are 0-10)
for col in numeric_cols:
    data[col] = data[col].clip(0, 10)

# Convert Friends_circle_size to integers (since you can't have a fraction of a friend)
data['Friends_circle_size'] = data['Friends_circle_size'].round().astype(int)

In [7]:
data.describe()

,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency
count,2900.000000,2900.000000,2900.000000,2900.000000,2900.000000
mean,4.457414,3.964138,3.000000,5.685862,3.565517
std,3.355657,2.872613,2.221597,3.367500,2.893591
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,1.000000,3.000000,1.000000
50%,4.000000,4.000000,3.000000,5.000000,3.000000
75%,7.000000,6.000000,5.000000,10.000000,6.000000
max,10.000000,10.000000,7.000000,10.000000,10.000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2900 non-null   float64
 1   Stage_fear                 2900 non-null   object
 2   Social_event_attendance    2900 non-null   float64
 3   Going_outside              2900 non-null   float64
 4   Drained_after_socializing  2900 non-null   object
 5   Friends_circle_size        2900 non-null   int64
 6   Post_frequency             2900 non-null   float64
 7   Personality                2900 non-null   object
dtypes: float64(4), int64(1), object(3)
memory usage: 181.4+ KB

In [9]:
import pandas as pd

# Load data
df = pd.read_csv('personality_datasert.csv')

# Drop duplicates based on specific columns
df_cleaned = df.drop_duplicates(
    subset=['Time_spent_Alone', 'Social_event_attendance'],
    keep='first'
)

# Verify
print(f"Original shape: {df.shape}")
print(f"After dropping duplicates: {df_cleaned.shape}")

Original shape: (2900, 8)
After dropping duplicates: (92, 8)

In [10]:
data.isnull().sum()

Time_spent_Alone             0
Stage_fear                   0
Social_event_attendance      0
Going_outside                0
Drained_after_socializing    0
Friends_circle_size          0
Post_frequency               0
Personality                  0
dtype: int64

In [11]:
data.duplicated().sum()

np.int64(619)

In [14]:
# Drop duplicate rows
data = data.drop_duplicates()

In [15]:
data.duplicated().sum()

np.int64(0)

In [16]:
# Identify categorical columns
categorical_cols = data.select_dtypes(include='object').columns.tolist()
print("Categorical columns:", categorical_cols)

# Handle categorical columns using one-hot encoding
data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)

# Display the first few rows of the modified dataframe
display(data.head())

Categorical columns: ['Stage_fear', 'Drained_after_socializing', 'Personality']

,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency,Stage_fear_Yes,Drained_after_socializing_Yes,Personality_Introvert
0,4.0,4.0,6.0,10,5.0,False,False,False
1,9.0,0.0,0.0,0,3.0,True,True,True
2,9.0,1.0,2.0,5,2.0,True,True,True
3,0.0,6.0,7.0,10,8.0,False,False,False
4,3.0,9.0,4.0,8,5.0,False,False,False

In [17]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
df[numeric_cols] = imputer.fit_transform(df[numeric_cols])

In [27]:
import pandas as pd
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.preprocessing import LabelEncoder

# Sample data
df = pd.DataFrame({
    'Time_spent_Alone': [4.0, 9.0, 0.0, 3.0],
    'Social_event_attendance': [4.0, 0.0, 6.0, 9.0],
    'Personality': ['Extrovert', 'Introvert', 'Extrovert', 'Extrovert']
})

# Encode target
le = LabelEncoder()
y = le.fit_transform(df['Personality'])  # Converts to [1, 0, 1, 1]

# Define features
X = df[['Time_spent_Alone', 'Social_event_attendance']]

# Select top features
selector = SelectKBest(score_func=f_regression, k=2)
X_selected = selector.fit_transform(X, y)

print("Original Features:\n", X.head())
print("\nSelected Features (Top 2):\n", X_selected)

Original Features:
    Time_spent_Alone  Social_event_attendance
0               4.0                      4.0
1               9.0                      0.0
2               0.0                      6.0
3               3.0                      9.0

Selected Features (Top 2):
 [[4. 4.]
 [9. 0.]
 [0. 6.]
 [3. 9.]]

In [30]:
X = df.drop('Personality', axis=1)  
y = df['Personality']

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [33]:
scaler = StandardScaler()  
X_train_scaled = scaler.fit_transform(X_train)  
X_test_scaled = scaler.transform(X_test)

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression        # Import for Logistic Regression
from sklearn.ensemble import RandomForestClassifier       # Import for Random Forest
from sklearn.neighbors import KNeighborsClassifier        # Import for KNN

models = {
    'Logistic Regression': LogisticRegression(),
    'Random Forest': RandomForestClassifier(),  # Fixed typo (Forget → Forest)
    'KNN': KNeighborsClassifier()
}

In [47]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report

# Load your dataset
df = pd.read_csv(r'C:\Users\ZBook\Desktop\juypter\personality_datasert.csv')

# Data Cleaning
# Drop duplicates
df = df.drop_duplicates()

# Verify we have both classes
print("\n=== Class Distribution ===")
print(df['Personality'].value_counts())

# Preprocessing
# Convert categorical variables
df['Stage_fear'] = df['Stage_fear'].map({'Yes': 1, 'No': 0})
df['Drained_after_socializing'] = df['Drained_after_socializing'].map({'Yes': 1, 'No': 0})

# Encode target variable
le = LabelEncoder()
y = le.fit_transform(df['Personality'])
X = df.drop('Personality', axis=1)

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# Print train/test shapes
print("\n=== Dataset Splits ===")
print(f"Training set shape: X_train={X_train.shape}, y_train={y_train.shape}")
print(f"Test set shape: X_test={X_test.shape}, y_test={y_test.shape}")

# Feature scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Model definitions
models = {
    'Logistic Regression': LogisticRegression(max_iter=1000),
    'Random Forest': RandomForestClassifier(),
    'KNN': KNeighborsClassifier()
}

# Train and evaluate models
results = {}
print("\n=== Model Evaluation ===")
for name, model in models.items():
    model.fit(X_train_scaled, y_train)
    y_pred = model.predict(X_test_scaled)
    accuracy = accuracy_score(y_test, y_pred)
    results[name] = accuracy
    
    print(f"\n--- {name} ---")
    print(f"Accuracy: {accuracy:.4f}")
    print("Classification Report:")
    print(classification_report(y_test, y_pred, target_names=le.classes_))

# Display all accuracies
print("\n=== Summary of Model Accuracies ===")
for name, acc in results.items():
    print(f"{name}: {acc:.4f}")

# Find best model
best_model = max(results, key=results.get)
print(f"\nBest performing model: {best_model} (Accuracy: {results[best_model]:.4f})")

=== Class Distribution ===
Personality
Extrovert    1403
Introvert    1095
Name: count, dtype: int64

=== Dataset Splits ===
Training set shape: X_train=(1998, 7), y_train=(1998,)
Test set shape: X_test=(500, 7), y_test=(500,)

=== Model Evaluation ===

--- Logistic Regression ---
Accuracy: 0.9120
Classification Report:
              precision    recall  f1-score   support

   Extrovert       0.90      0.95      0.92       281
   Introvert       0.93      0.86      0.90       219

    accuracy                           0.91       500
   macro avg       0.92      0.91      0.91       500
weighted avg       0.91      0.91      0.91       500


--- Random Forest ---
Accuracy: 0.9060
Classification Report:
              precision    recall  f1-score   support

   Extrovert       0.90      0.94      0.92       281
   Introvert       0.92      0.86      0.89       219

    accuracy                           0.91       500
   macro avg       0.91      0.90      0.90       500
weighted avg       0.91      0.91      0.91       500


--- KNN ---
Accuracy: 0.9220
Classification Report:
              precision    recall  f1-score   support

   Extrovert       0.92      0.94      0.93       281
   Introvert       0.92      0.89      0.91       219

    accuracy                           0.92       500
   macro avg       0.92      0.92      0.92       500
weighted avg       0.92      0.92      0.92       500


=== Summary of Model Accuracies ===
Logistic Regression: 0.9120
Random Forest: 0.9060
KNN: 0.9220

Best performing model: KNN (Accuracy: 0.9220)