In [102]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/food-delivery-time/deliverytime.csv

In [103]:
df = pd.read_csv('/kaggle/input/food-delivery-time/deliverytime.csv')
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min)
0,4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,24
1,B379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,33
2,5D6D,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,26
3,7A6A,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,21
4,70A2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,30

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          45593 non-null  int64
 3   Delivery_person_Ratings      45593 non-null  float64
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Type_of_order                45593 non-null  object
 9   Type_of_vehicle              45593 non-null  object
 10  Time_taken(min)              45593 non-null  int64
dtypes: float64(5), int64(2), object(4)
memory usage: 3.8+ MB

In [105]:
df.duplicated().sum()

0

In [106]:
df.duplicated(subset=['ID']).sum()

142

In [107]:
df = df.drop_duplicates(subset=['ID'])

In [108]:
df = df.drop(['ID', 'Delivery_person_ID'], axis=1)

In [109]:
df.describe()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_taken(min)
count,45451.000000,45451.000000,45451.000000,45451.000000,45451.000000,45451.000000,45451.000000
mean,29.542166,4.632360,17.022352,70.237158,17.465516,70.843062,26.290599
std,5.695052,0.327424,8.177316,22.860620,7.336373,21.122091,9.381744
min,15.000000,1.000000,-30.905562,-88.366217,0.010000,0.010000,10.000000
25%,25.000000,4.600000,12.933284,73.170141,12.986229,73.280141,19.000000
50%,29.000000,4.700000,18.546947,75.898497,18.633934,76.002574,26.000000
75%,34.000000,4.800000,22.728163,78.044095,22.785049,78.107044,32.000000
max,50.000000,6.000000,30.914057,88.433452,31.054057,88.563452,54.000000

In [110]:
df[df['Delivery_person_Ratings']>5]

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min)
3586,50,6.0,-12.970324,-77.645748,13.010324,77.685748,Meal,electric_scooter,25
4714,50,6.0,-17.451976,-78.385883,17.561976,78.495883,Snack,bicycle,27
5169,50,6.0,-26.910262,-75.783013,27.020262,75.893013,Drinks,scooter,20
5362,50,6.0,12.914264,77.678400,13.024264,77.788400,Meal,electric_scooter,18
5651,50,6.0,-27.159795,-78.042990,27.209795,78.092990,Drinks,scooter,20
6394,50,6.0,26.911927,75.797282,27.041927,75.927282,Meal,electric_scooter,20
7031,50,6.0,-12.352058,-76.606650,12.372058,76.626650,Buffet,scooter,14
7681,50,6.0,0.000000,0.000000,0.010000,0.010000,Meal,bicycle,22
9499,50,6.0,12.933298,77.614293,13.003298,77.684293,Drinks,scooter,17
9535,50,6.0,-23.374989,-85.335486,23.444989,85.405486,Snack,bicycle,32
10100,50,6.0,12.308500,76.665808,12.418500,76.775808,Snack,electric_scooter,35
10737,50,6.0,0.000000,0.000000,0.020000,0.020000,Snack,scooter,25
12297,50,6.0,21.186608,72.794136,21.206608,72.814136,Meal,scooter,22
13257,50,6.0,11.025083,77.015393,11.105083,77.095393,Buffet,electric_scooter,11
13652,50,6.0,-23.416792,-85.316842,23.466792,85.366842,Buffet,motorcycle,28
14106,50,6.0,12.323994,76.626167,12.373994,76.676167,Meal,scooter,15
14907,50,6.0,12.986047,80.218114,12.996047,80.228114,Drinks,bicycle,12
14944,50,6.0,17.426228,78.407495,17.536228,78.517495,Meal,motorcycle,19
16798,50,6.0,23.357804,85.325146,23.377804,85.345146,Drinks,scooter,22
17145,50,6.0,10.961850,76.971082,10.971850,76.981082,Snack,electric_scooter,14
17708,50,6.0,-13.066762,-80.251865,13.076762,80.261865,Drinks,electric_scooter,20
18977,50,6.0,23.232537,77.429845,23.322537,77.519845,Buffet,scooter,17
19382,50,6.0,-22.651847,-75.881991,22.711847,75.941991,Drinks,bicycle,30
20269,50,6.0,25.454648,81.834502,25.504648,81.884502,Snack,motorcycle,33
21320,50,6.0,17.455894,78.375467,17.525894,78.445467,Drinks,electric_scooter,35
22416,50,6.0,25.450329,81.834279,25.590329,81.974279,Drinks,scooter,29
23375,50,6.0,12.970324,77.645748,13.030324,77.705748,Buffet,electric_scooter,19
24237,50,6.0,-21.170096,-72.789122,21.180096,72.799122,Meal,motorcycle,17
24918,50,6.0,26.482581,80.315628,26.612581,80.445628,Buffet,scooter,41
25285,50,6.0,11.001852,76.976268,11.061852,77.036268,Meal,electric_scooter,16
26052,50,6.0,23.351058,85.325731,23.371058,85.345731,Meal,electric_scooter,20
27221,50,6.0,-10.994136,-76.963303,11.074136,77.043303,Drinks,electric_scooter,17
27399,50,6.0,19.103249,72.846749,19.133249,72.876749,Meal,electric_scooter,18
28315,50,6.0,-12.935662,-77.614130,13.045662,77.724130,Drinks,electric_scooter,28
28974,50,6.0,-13.029780,-80.208812,13.099780,80.278812,Meal,electric_scooter,20
29535,50,6.0,-12.975377,-77.696664,13.015377,77.736664,Drinks,electric_scooter,15
30579,50,6.0,23.235123,77.398886,23.325123,77.488886,Snack,bicycle,39
30943,50,6.0,-19.103249,-72.846749,19.213249,72.956749,Meal,scooter,30
31233,50,6.0,0.000000,0.000000,0.050000,0.050000,Drinks,scooter,28
32326,50,6.0,-26.469003,-80.316344,26.559003,80.406344,Drinks,scooter,17
33533,50,6.0,-22.533662,-88.366217,22.663662,88.496217,Snack,scooter,28
34688,50,6.0,-27.158822,-78.045359,27.248822,78.135359,Drinks,electric_scooter,16
38020,50,6.0,13.026279,80.174568,13.106279,80.254568,Meal,scooter,14
38561,50,6.0,0.000000,0.000000,0.090000,0.090000,Drinks,electric_scooter,36
39699,50,6.0,0.000000,0.000000,0.030000,0.030000,Buffet,bicycle,39
41969,50,6.0,-26.490950,-80.318656,26.520950,80.348656,Drinks,scooter,15
42072,50,6.0,22.751234,75.889490,22.781234,75.919490,Buffet,scooter,28
42835,50,6.0,-12.939496,77.625999,12.949496,77.635999,Drinks,electric_scooter,19
45332,50,6.0,0.000000,0.000000,0.020000,0.020000,Drinks,electric_scooter,28

In [111]:
df[df['Delivery_person_Ratings']==5].shape[0]

3985

In [112]:
sub=df.loc[df['Delivery_person_Ratings']>5, 'Delivery_person_Ratings'] = 5

In [113]:
df[df['Delivery_person_Ratings']==5].shape[0]

4034

In [114]:
df.describe(include='object')

       Type_of_order Type_of_vehicle
count          45451           45451
unique             4               4
top           Snack      motorcycle
freq           11497           26366

In [115]:
df['Type_of_order'].value_counts()

Type_of_order
Snack      11497
Meal       11422
Drinks     11282
Buffet     11250
Name: count, dtype: int64

In [116]:
df['Type_of_vehicle'].value_counts()

Type_of_vehicle
motorcycle           26366
scooter              15215
electric_scooter      3802
bicycle                 68
Name: count, dtype: int64

In [117]:
df.isnull().sum()

Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Type_of_order                  0
Type_of_vehicle                0
Time_taken(min)                0
dtype: int64

In [118]:
X = df.drop('Time_taken(min)', axis=1)
y = df['Time_taken(min)']

In [119]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [120]:
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

def preprocess(df):
    df = df.copy()  
    numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
    if not numeric_cols.empty:
        scaler = MinMaxScaler()
        df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
    
    categorical_cols = df.select_dtypes(include=['object', 'category']).columns
    for col in categorical_cols:
        encoder = LabelEncoder()
        df[col] = encoder.fit_transform(df[col].astype(str))
    
    return df

In [121]:
X_train_1 = preprocess(X_train)
X_test_1 = preprocess(X_test)

In [122]:
X_train_1.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle
10866,0.142857,0.925,0.781942,0.943175,0.563516,0.885869,2,2
19531,0.428571,0.975,0.934926,0.928555,0.866549,0.856117,0,2
18069,0.142857,0.950,0.709411,0.939287,0.418435,0.877881,2,2
31159,0.457143,0.975,0.939949,0.941030,0.877196,0.881248,0,2
42094,0.142857,0.950,0.877368,0.982374,0.753543,0.964132,1,2

In [123]:
X_test_1.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle
7219,0.628571,0.825,0.939301,0.940183,0.875912,0.881818,3,2
1644,0.400000,1.000,0.710645,0.952929,0.422207,0.907397,0,3
35640,0.200000,0.775,0.781810,0.942297,0.563593,0.886419,2,2
33033,0.657143,0.900,0.678199,0.934168,0.355665,0.869900,0,2
10429,0.514286,0.975,0.677884,0.934060,0.354395,0.869462,2,1

In [124]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

model = LinearRegression()
model.fit(X_train_1, y_train)

y_train_pred = model.predict(X_train_1)
y_test_pred = model.predict(X_test_1)

r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)

print(f"R score (Train): {r2_train}")
print(f"R score (Test):  {r2_test:}")

R score (Train): 0.18853527550917715
R score (Test):  0.18376348820708344

In [125]:
from sklearn.tree import DecisionTreeRegressor

tree_model = DecisionTreeRegressor(random_state=42)
tree_model.fit(X_train_1, y_train)

y_train_pred = tree_model.predict(X_train_1)
y_test_pred = tree_model.predict(X_test_1)

r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)

print(f"R score (Train): {r2_train}")
print(f"R score (Test):  {r2_test:}")

R score (Train): 0.991188113396431
R score (Test):  -0.5274043820746921

In [126]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(random_state=42)
rf_model.fit(X_train_1, y_train)

y_train_pred = rf_model.predict(X_train_1)
y_test_pred = rf_model.predict(X_test_1)

r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)

print(f"R score (Train): {r2_train}")
print(f"R score (Test):  {r2_test}")

R score (Train): 0.8952864406694069
R score (Test):  0.23706627582276352

In [128]:
from xgboost import XGBRegressor

xgb_model = XGBRegressor(random_state=42)
xgb_model.fit(X_train_1, y_train)

y_train_pred = xgb_model.predict(X_train_1)
y_test_pred = xgb_model.predict(X_test_1)

r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)

print(f"R score (Train): {r2_train}")
print(f"R score (Test):  {r2_test}")

R score (Train): 0.500379441560041
R score (Test):  0.25851764227233376

In [129]:
def preprocess_dum(df):
    df = df.copy()
    
    numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
    if len(numeric_cols) > 0:
        scaler = MinMaxScaler()
        df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
    
    categorical_cols = df.select_dtypes(include=['object', 'category']).columns
    if len(categorical_cols) > 0:
        df = pd.get_dummies(df, columns=categorical_cols)
    
    return df

In [130]:
X_train_dum = preprocess_dum(X_train)
X_test_dum = preprocess_dum(X_test)

In [131]:
X_train_dum.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order_Buffet,Type_of_order_Drinks,Type_of_order_Meal,Type_of_order_Snack,Type_of_vehicle_bicycle,Type_of_vehicle_electric_scooter,Type_of_vehicle_motorcycle,Type_of_vehicle_scooter
10866,0.142857,0.925,0.781942,0.943175,0.563516,0.885869,False,False,True,False,False,False,True,False
19531,0.428571,0.975,0.934926,0.928555,0.866549,0.856117,True,False,False,False,False,False,True,False
18069,0.142857,0.950,0.709411,0.939287,0.418435,0.877881,False,False,True,False,False,False,True,False
31159,0.457143,0.975,0.939949,0.941030,0.877196,0.881248,True,False,False,False,False,False,True,False
42094,0.142857,0.950,0.877368,0.982374,0.753543,0.964132,False,True,False,False,False,False,True,False

In [132]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

model = LinearRegression()
model.fit(X_train_dum, y_train)

y_train_pred = model.predict(X_train_dum)
y_test_pred = model.predict(X_test_dum)

r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)

print(f"R score (Train): {r2_train}")
print(f"R score (Test):  {r2_test:}")

R score (Train): 0.208231611231812
R score (Test):  0.20370362467247982

In [133]:
from sklearn.tree import DecisionTreeRegressor

tree_model = DecisionTreeRegressor(random_state=42)
tree_model.fit(X_train_dum, y_train)

y_train_pred = tree_model.predict(X_train_dum)
y_test_pred = tree_model.predict(X_test_dum)

r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)

print(f"R score (Train): {r2_train}")
print(f"R score (Test):  {r2_test:}")

R score (Train): 0.991188113396431
R score (Test):  -0.4848419925292282

In [134]:
from xgboost import XGBRegressor

xgb_model = XGBRegressor(random_state=42)
xgb_model.fit(X_train_dum, y_train)

y_train_pred = xgb_model.predict(X_train_dum)
y_test_pred = xgb_model.predict(X_test_dum)

r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)

print(f"R score (Train): {r2_train}")
print(f"R score (Test):  {r2_test}")

R score (Train): 0.5063930191354278
R score (Test):  0.2541209522604091

In [135]:
from xgboost import XGBRegressor

xgb_model = XGBRegressor(random_state=42)
xgb_model.fit(X_train_dum, y_train)

y_train_pred = xgb_model.predict(X_train_dum)
y_test_pred = xgb_model.predict(X_test_dum)

r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)

print(f"R score (Train): {r2_train}")
print(f"R score (Test):  {r2_test}")

R score (Train): 0.5063930191354278
R score (Test):  0.2541209522604091

In [136]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score

knn_model = KNeighborsRegressor(n_neighbors=10)  # You can change n_neighbors as needed

knn_model.fit(X_train_dum, y_train)

# Predict on train and test sets
y_train_pred = knn_model.predict(X_train_dum)
y_test_pred = knn_model.predict(X_test_dum)

r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)

print(f"R score (Train): {r2_train}")
print(f"R score (Test):  {r2_test}")

R score (Train): 0.35065350219854696
R score (Test):  0.2018454490284498