In [ ]:
# 1. LISTS
# -------------------------
# Ordered, mutable, allows duplicates

# Creating a list
my_list = [1, 2, 12, 10, 5]

# List methods
# my_list.append(6)           # Add to end
# my_list.insert(2, 99)       # Insert at index
# my_list.remove(5)           # Remove first occurrence of value
# my_list.pop()               # Remove last element
# my_list.pop(0)              # Remove element at index
# my_list.reverse()           # Reverse list
# my_list.sort()              # Sort list
# my_list.index(99)           # Find index of value
# len(my_list)
print(my_list)              # Length of list

[1, 2, 5, 10, 12]

In [ ]:
# 2. TUPLES
# -------------------------
# Ordered, immutable, allows duplicates

# Creating a tuple
my_tuple = (1, 2, 3, 4)

# Tuple methods
my_tuple.index(3)           # Find index
len(my_tuple)               # Length of tuple

In [ ]:
# 3. SETS
# -------------------------
# Unordered, mutable, no duplicates

# Creating a set
my_set = {1, 2, 3, 4}

# Set methods
my_set.add(5)               # Add element
my_set.remove(2)            # Remove element
my_set.pop()                # Remove arbitrary element
my_set.clear()              # Clear set

In [ ]:
# 4. DICTIONARIES
# -------------------------
# Unordered, mutable, key-value pairs, no duplicate keys

# Creating a dictionary
my_dict = {"name": "Alice", "age": 25, "city": "Cairo"}

# Dictionary methods
# my_dict["job"] = "Engineer"      # Add new key-value pair
my_dict["age"] = 26             # Update value
# my_dict.keys()                  # All keys
# my_dict.values()                # All values
# my_dict.items()                 # All key-value pairs
# my_dict.clear()
# Clear all
my_dict["faculty"]= "Engineering"
print(my_dict)

{'name': 'Alice', 'age': 26, 'city': 'Cairo', 'faculty': 'Engineering'}

# tasks

1. Ask the user to enter five numbers then
print the max and min number of those
numbers

2. Ask the user to enter five numbers then
print the sum of those numbers

3. Ask the user to enter five numbers then
print the numbers that are divisible by 5.

4.Reverse the following list using:
∙ [ 10, 20,30,40,50]
1. Built in function
2. While loop
3. For loop

# overall task

You have a list of students with their scores in 3 subjects.
Store this information in a dictionary. Then:

Calculate the total and average score for each student.

Add a new key "status" with the value "Pass" if the average is >= 60, otherwise "Fail".

Finally, print:

The name of students who passed.

The name of the top student with the highest average.

Data:
students = {
    "Ahmed": [70, 80, 90],
    "Ali": [40, 60, 55],
    "Mona": [90, 95, 100],
    "Tamer": [50, 45, 40],
    "Salma": [75, 85, 70]
}


A company is evaluating employee performance for yearly bonuses.
You are given two lists:

employees = ["Ahmed", "Fatma", "Ali", "Mona", "Kareem"]
sales = [12000, 8000, 15000, 7000, 11000]  # monthly sales in dollars
The company policy is:

If monthly sales ≥ 10,000 → bonus is 10% of sales

If monthly sales between 7,000 and 10,000 → bonus is 5%

Otherwise → no bonus

Your Task:
Print the name of each employee and the bonus they will receive.
At the end, print the total amount of bonuses the company will pay.