In [ ]:
# 1. Variables and Variable Names
# =====================
# Variables are used to store data values.
name = "Alice"  # string variable
age = 25         # integer variable
is_student = True  # boolean variable

In [ ]:
# Valid variable names:
# - Must start with a letter or underscore (_)
# - Cannot start with a number
# - Can only contain letters, numbers, and underscores

# Examples:
_user = "John"
user_2 = "Jane"

In [ ]:
# 2. Data Types
# =====================

# Numbers:
integer_number = 10      # int
floating_number = 3.14   # float

# Boolean:
is_active = True
is_logged_in = False

In [ ]:
# Type checking:
print(type(name))        # <class 'str'>
print(type(age))         # <class 'int'>
print(type(floating_number))  # <class 'float'>
print(type(is_student))  # <class 'bool'>

In [ ]:
# 3. Arithmetic Operators
# =====================
# +, -, *, /, //, %, **
a = 10
b = 3
print(a + b)   # 13
print(a - b)   # 7
print(a * b)   # 30
print(a / b)   # 3.333...
print(a % b)   # 1 (modulus)
print(a ** b)  # 1000 (power)

# =====================
# 4. Logical Operators
# =====================
x = True
y = False



print(x and y)  # False
print(x or y)   # True
print(not x)    # False

In [ ]:
# 5. Strings
# =====================
message = "Hello, World!"

# Indexing (starts from 0)
print(message[0])   # 'H'
print(message[-1])  # '!'

In [ ]:
# Slicing
message = "Hello, World!"
print(message[0:5])   # 'Hello'
print(message[:5])    # 'Hello'
print(message[:])    # 'Hello, World!'

In [ ]:
# 6. Common String Methods
# =====================
text = "  python Programming  "

print(text.lower())     # '  python programming  '
print(text.upper())     # '  PYTHON PROGRAMMING  '
print(text.strip())     # 'python Programming'
print(text.replace("python", "hello"))  # '  Python Programming  '
print(text.split())     # ['python', 'Programming']
print(text.find("Program"))  # 9

In [ ]:
f_name="ali"
last_name="mohamed"
# print(f_name+" "+last_name)

age=20
# print(f_name +" " + str(age))
print(f"My name is {f_name} and I am {age} years old.")

ali 20

In [ ]:
# 7: Type Casting
# =====================
x = "123"
y = int(x)
z = float(x)


# Convert number to string:
a = 100
b = str(a)

In [ ]:
# 8. String Formatting
# =====================
name = "Alice"
age = 25



# f-string
print(f"My name is {name} and I am {age} years old.")

In [ ]:
# 9. Getting User Input
name = input("Enter your name: ")
age = int(input("Enter your age: "))
height = float(input("Enter your height in meters: "))

# tasks

1. Ask the user to enter the radius of a circle and then print the area of the circle .

In [ ]:
# Ask the user to enter the radius
radius = float(input("Enter the radius of the circle: "))

# Calculate the area (Area = π * r^2)
pi = 3.14159
area = pi * (radius ** 2)

# Print the result
print(f"The area of the circle is: {area}")

2. Ask the user to enter his height in cm and his weight in kg , then print his
BMI ( Body Mass Index ).

In [ ]:
# BMI=weight(kg) / (height(m) **2)

3. Write an algorithm to determine the flying time in minutes between two cities
given the mileage between them and the average speed of the airplane with
km/h.

4. Ask the user to enter a number in variable called “a” , then ask him to enter
another number in variable called “b” , then print the result type of the
Operation a/b .

5. Write an algorithm that takes the number of wins, draws and losses and
calculates the number of points a football team has obtained so far.